# Root files
.DS_Store
.tox
.pytest_cache

# Tools cache
tools/__pycache__

# Asset system files
assets/.DS_Store

# Backend files
backend/main_more.py
backend/.DS_Store
backend/__pycache__
backend/.env
backend/*.egg-info
backend/prompt/.DS_Store
backend/prompt/user_description_of_file.txt
backend/static/.DS_Store

# Tests files
tests/__pycache__

