/* Reset and Base Styles */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #ffffff;
  color: #2c2c2c;
}

/* Container Styles */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100vh;
}

/* Logo Header */
.logo-header {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.logo-header img {
  height: 50px;
}

/* Main Content Styles */
main {
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
}

/* Footer Styles */
footer {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 70%;
}

.file-upload-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.file-upload-btn span {
  font-size: 1em;
}

.file-upload-input {
  display: none;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.2em;
  color: #2c2c2c;
  border-radius: 15px;
}

button[type="submit"], button[type="button"] {
  padding: 10px 20px;
  background: #ff8800;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 10px;
  border-radius: 15px;
}

#spinner {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#spinner.visible {
  display: block;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #ff8800;
  border-right: 4px solid #ff8800;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#uploadStatus {
  text-align: center;
  margin-top: 10px;
}

#descriptionInput {
  margin-top: 20px;
  width: 70%;
}

#descriptionInput input {
  font-size: 1.2em;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

#descriptionInput button {
  font-size: 1.2em;
  padding: 10px 20px;
  background: #ff8800;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
